body{
    background-color: #9c9200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#output {
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 40px;
    background-color: #e0d216;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 5px;
    
  }
  