body{
    background-color: black;
}

h1{
    font-size: 90px;
    position: absolute;
top: 0;
left: 10px;
}

.border{
    color:rgb(255, 255, 255);
    text-shadow: -4px -4px 0 rgb(0, 0, 0),
    1px -1px 0 white,
    1px 1px 0 white,
    -1px 1px 0 white
}
.wave{
    color: orange;
    animation: wave 3s ease-in-out infinite;
}
@keyframes wave{
    0%, 100%{
        clip-path: polygon(
            0% 47%, 
            10% 48%,
            33% 54%, 
            54% 60%, 
            70% 61%, 
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}
table {
    border-collapse: collapse;
    margin-top: 20px;
    position: absolute;
    top :180px;
    right: 50px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: orange;

  }

   th, td {
    border: 1px solid black;
    height: 80px;
    width: 90px;


}

  #resultado {
    margin-top: 20px;
    font-size: 30px;
    color: orange;
    margin-left: 20px;
  }

  #a{
    margin-top: 200px;
    padding: 10px;
  }
  form{
    width: 50%;
    background-color: orange;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    align-content: space-around;
    padding: 20px;
    z-index: 40;
}
input{
    width: 80%;
    text-align: center;
    padding: 5px;
    font-size: 18px;
}
button{
    width: 70%;
    height: 30px;


}