body{
    background-color: black;
}
#bomba{
    background-color: white;
    width: 60%;
    font-family: Arial, sans-serif;
    font-size: 30px;
    padding: 10px;
border: solid 5px red;

    
}
#bombstyle{ height: 600px;
background-color: gray;
border-radius: 100%;
width: 600px;
margin-right: auto;
margin-left: auto;
display: flex;
justify-content: center;
align-items: center;
border: solid 5px beige;
}
.cabeza{
    height: 60px;
    width: 30px;
    background-color:rgb(78, 78, 78);
    
}
.cabeza1{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 102, 0);
}
section{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 200px;

}